@font-face {
    font-family: 'AmaticSC-R';
    src: url('../../assets/fonts/Amatic_SC/AmaticSC-Regular.ttf') format('woff2'),
}
@font-face {
    font-family: 'AmaticSC-B';
    src: url('../../assets/fonts/Amatic_SC/AmaticSC-Bold.ttf') format('woff2'),
}
@font-face {
    font-family: 'PatrickHand-R';
    src: url('../../assets/fonts/Patrick_Hand/PatrickHand-Regular.ttf') format('woff2'),
}