.container {
    min-height: calc(100% - 16px);
    width: 100%;
    padding: 8px 0;
    display: flex;
    justify-content: center;
    background-color: #fff9f4;
    font-family: 'PatrickHand-R', cursive !important;

    .container-layout {
        width: 100%;
        max-width: 1100px;
    }
}